body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #bebbbb; 
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #2f243a;
  border-radius: 5px; 
  border: 2px solid #bebbbb;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
